.top-menu li a {
    color: #a5a5a5;
    font-size: 16px !important;
    font-weight:bold  !important;
}
#header {
    background: #494949;
    padding: 10px 0 0;
}
#footer {
    background: #494949;
}
